html, body {
    
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
  margin: 50px auto 50px auto;
  border: 3px solid rgb(160, 112, 112);
  
  }
  

p.move-mid {
  padding-left: 10%;
  text-align: center;
  margin: auto;
  color: #576aaa;
}
#blocker {
  position: absolute;
  width: 100%;
  height: 100%;}

#instructions {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 18px;
  cursor: pointer;
}



  #gameCanvas{
    box-shadow: 10px 10px 20px rgb(129, 77, 28);
  }
  h1{
    text-align: center;
    font-family: comic sans MS;
    color: rgba(94, 61, 185, 0.966);

  }
  body{
    height: 100vh;
    background: linear-gradient(
      24deg,
      rgb(247, 163, 163) 0%,
      rgb(187, 203, 255) 100%
    );
  }